# Too large data files
My kitchen companion/data/raw/det_ingrs.json
My kitchen companion/data/raw/Layers/layer1.json
My kitchen companion/data/raw/Layers/layer2.json
My kitchen companion/data/raw/Layers/recipe1M_layers.tar.gz

# pycharm
*/.idea/*